$primary-Color: rgb(190, 62, 62);
$main-White: rgb(255, 255, 255);
$main-Black: rgb(44, 42, 42);
$menu-Color: rgb(255, 185, 55);
$main-Grey: rgb(218, 218, 218);
$main-Digital-Color: rgb(138, 241, 255);
//
$main-Spacing: 0.2rem;
$main-Transition: all 0.1s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
