$primary-Color: rgb(190, 62, 62);
$main-White: rgb(255, 255, 255);
$main-Black: rgb(44, 42, 42);
$menu-Color: rgb(255, 185, 55);
$main-Grey: rgb(94, 94, 94);
$main-Digital-Color: rgb(138, 241, 255);
//
$main-Spacing: 0.2rem;
$main-Transition: all 0.1s ease-in-out;
$main-BorderRadius: 5px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
// animations
@keyframes displayElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// font-family: "Finger Paint", cursive;
