@media screen and (min-width: 800px) {
  body {
    .cart-overlay {
      opacity: 0.9;
      .cart {
        width: 50vw;
        min-width: 400px;
        background: $menu-Color;
      }
    }
  }
}
